@model IEnumerable<ToDoList.Models.Tarefa>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Agendamento de Tarefas</h2>
<br />

<p>
    @Html.ActionLink("Nova Tarefa", "Novo", "Produtos", new { @class = "btn btn-info" })
</p>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeTarefa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataInicioTarefa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataFimTarefa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescricaoTarefa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusTarefa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeTarefa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataInicioTarefa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataFimTarefa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescricaoTarefa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusTarefa)
        </td>
        <td>
            @Html.ActionLink("Detalhar", "Detalhe", new { id = item.TarefaID }, new { @class = "btn btn-outline-info" })
            @Html.ActionLink("Alterar", "Editar", new { id = item.TarefaID }, new { @class = "btn btn-outline-primary" })
            @Html.ActionLink("Excluir", "Excluir", new { id = item.TarefaID }, new { @class = "btn btn-outline-danger" })
        </td>
    </tr>
}

</table>
