@model IEnumerable<ToDoList.Models.Endereco>

    <div class="form-horizontal">
        <h4>Endereços</h4>
        <hr />
        <div class="form-group">
            <label class="control-label col-md-2">CEP</label>
            <div class="col-md-10">
                <input type="text" id="CepEndereco" name="CepEndereco" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Nome da Rua</label>
            <div class="col-md-10">
                <input type="text" id="NomeRua" name="NomeRua" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Numero Residencia</label>
            <div class="col-md-10">
                <input type="text" id="NumeroEndereco" name="NumeroEndereco" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Bairro</label>
            <div class="col-md-10">
                <input type="text" id="NomeBairro" name="NomeBairro" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Cidade</label>
            <div class="col-md-10">
                <input type="text" id="NomeCidade" name="NomeCidade" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">UF</label>
            <div class="col-md-10">
                <input type="text" id="UfEstado" name="UfEstado" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Complemento</label>
            <div class="col-md-10">
                <input type="text" id="ComplementoEndereco" name="ComplementoEndereco" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href="#" onclick="GravarContato();">Gravar Contato</a>
            </div>
        </div>
    </div>

<input type="hidden" id="idEndereco" value="@ViewBag.Contatos" />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(Model => Model.CepEndereco)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.NomeRua)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.NumeroEndereco)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.NomeBairro)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.NomeCidade)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.UfEstado)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.ComplementoEndereco)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelCep => item.CepEndereco)
            </td>
            <td>
                @Html.DisplayFor(modelNomeRua => item.NomeRua)
            </td>
            <td>
                @Html.DisplayFor(modelNumero => item.NumeroEndereco)
            </td>
            <td>
                @Html.DisplayFor(modelBairro => item.NomeBairro)
            </td>
            <td>
                @Html.DisplayFor(modelCidade => item.NomeCidade)
            </td>
            <td>
                @Html.DisplayFor(modelUF => item.UfEstado)
            </td>
            <td>
                @Html.DisplayFor(modelComplemento => item.ComplementoEndereco)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.EnderecoID })
                @Html.ActionLink("Details", "Details", new { id = item.EnderecoID })
                @Html.ActionLink("Delete", "Delete", new { id = item.EnderecoID })
            </td>
        </tr>
        }
    </tbody>
</table>