@model IEnumerable<ToDoList.Models.Contato>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cadastro de Contatos</h2>
<br />

<p>
    @Html.ActionLink("Nova Tarefa", "Novo", "Contatos", new { @class = "btn btn-info" })
</p>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeContato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelefoneFixoContato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CelularContato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailContato)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeContato)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelefoneFixoContato)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CelularContato)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailContato)
        </td>
        <td>
            @Html.ActionLink("Detalhar", "Detalhar", new { id = item.ContatoID }, new { @class = "btn btn-outline-info" }) |
            @Html.ActionLink("Alterar", "Editar", new { id = item.ContatoID }, new { @class = "btn btn-outline-primary" }) |
            @Html.ActionLink("Excluir", "Excluir", new { id = item.ContatoID }, new { @class = "btn btn-outline-danger" })
    </tr>
}

</table>
